/* Started from a tutorial video https://www.youtube.com/watch?v=drsUJIBKdXk */

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.canvas {
  background-color: burlywood;
  height: 500px;
  width: 500px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.ball {
  background-color: rgb(74, 74, 74);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  top: 100px;
  left: 0px;
  animation: bounce 3s ease-out 1;
}

.hole {
  background-color: #000;
  width: 130px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 240px;
  left: 230px;
  animation: zip-out 3s ease-out 1;
}

@keyframes zip-out {

  90% {
    width: 130px;
    height: 20px;
    left: 230px;
  } 

  95% {
    width: 40px;
    height: 10px;
    left: 250px;
  }
  
  100% {
    width: 0px;
    height: 0px;
    left: 270px;
  }
}

@keyframes bounce {
  20% {
    height: 50px;
    width: 40px;
    transform: translate(200%, 200%);
  }

  40% {
    width: 57px;
    height: 30px;
    transform: translate(200%, 0%);
  }

  60% {
    height: 50px;
    width: 50px;
    transform: translate(300%, 200%);
  }

  80% {
    width: 57px;
    height: 30px;
    transform: translate(400%, 0%);
    top: 100px;
    left: 0px;
  }

  100% {
    height: 0px;
    width: 0px;
    transform: translate(500%, 300%);
    top: 400px;
    left: 250px
  }
}
